# deploy at "/etc/systemd/system/*.timer"

[Unit]
Description=runs sanoid every 2 min

[Timer]
OnCalendar=*:0/2
AccuracySec=10sec

[Install]
WantedBy = multiuser.target