# deploy at "/etc/systemd/system/*.timer"
[Unit]
Description=weekly tarsnap backup
After=NetworkManager.service network.target
After=network-online.target


[Timer]
#Unit=tarsnap.service
OnCalendar=weekly
Persistent=true

[Install]
WantedBy=timers.target
