# deploy at "/etc/systemd/system/*.service"
[Unit]
Description=Tarsnap automatic backup
After=NetworkManager.service network.target
After=network-online.target

[Service]
Type=simple
ExecStart=/home/stefan/development/scripts/tarsnap/tarsnap-backup.sh b

[Install]
WantedBy=multi-user.target
